.container {
    width: 800px;
    height: 200px;
    margin: 20px auto;
}
.origin {
    width: 100px;
    height: 100px;
    border: 1px solid #222;
    float: left;
    margin: 40px;
}
.origin div {
    width: 100px;
    height: 100px;
    background-color: orange;
    transition: 1s;
}
#movex:hover {
    transform: translateX(50px);
}
#movey:hover {
    transform: translateY(50px);
}
#movexy:hover {
    transform: translate(50px,50px);
}

