.container {
    width: 300px;
    height: 300px;
    display: flex;
    gap: 10px;
}
.box {
    padding: 10px;
    margin: 5px;
    width: 80px;
}
.box :nth-child(odd){
    background-color: aqua;
}
.box :nth-child(even){
    background-color: pink;
}
#opt1{
    align-content: center;
}